[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "colorrepel"]
	path = colorrepel
	url = https://github.com/raysinensis/color_repel
